[Unit]
Description = Cart Service
[Service]
User=roboshop
Environment=REDIS_HOST=redis.internal.roboshop
Environment=CATALOGUE_HOST=catalogue.internal.roboshop
ExecStart=/bin/node /home/roboshop/cart/server.js
SyslogIdentifier=cart

[Install]
WantedBy=multi-user.target


